/*GENERAL*/

body{
    background-color: #90305A;
    color: #90305A;
}

#web{
    width: 1200px;
    margin: 0 auto;
}

/*CABECERA*/
#cabecera{
    height: 100px;
    background-color: #6C1239;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#cabecera h1{
    width: 80%;
    float: right;
    text-align: center;
    color: white;
}

#logo{
    float: left;
    width: 20%;
}

#logoInsti{
    height: 100px;
    width: 100px;
    margin-left: 30px;
}

/*MENU HORIZONTAL*/
#barraHorizontal{
    height: 40px;
    background-color: #48001F;
    border: 1px outset #48001F;
    padding-bottom: 10px;
    
}

.menuHorizontal{
    list-style-type: none;
    margin-left: 200px;
}

.menuHorizontal li{
    display: inline-block;
    border: 1px solid black;
    padding: 1px;
    margin-left: 40px;
    background-color: #6C1239;
}

.menuHorizontal li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/*CONTENIDO WEB*/
/*Barra lateral*/
#barraLateral{
    width: 20%;
    background-color: #48001F;
    float: left;
}

.menuVertical{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 50px;
}

.menuVertical li{
    height: 30px;
    border: 1px inset black;
    text-align: center;
    padding-top: 10px; 
    margin-top: 10px;
}

.menuVertical li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/*PRINCIPAL*/
#contenido{
    width: 80%;
    background-color: white;
    float: right;
    height: 400px;
    overflow: auto;
    float: right;
}

.columna1{
    width: 50%;
    float: left;
    margin-left: auto;
}

.columna2{
    width: 50%;
    float: left;
    margin-left: auto;
}

/*PIE DE PÁGINA*/
#pie{
    height: 40px;
    background-color: #48001F;
    text-align: center;
    color: white;
    clear: both;
    padding-top: 1px;
    padding-bottom: 4px;
}