/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 oct. 2021, 20:12:29
    Author     : alejandro
*/

#cabecera{
    
    height: 140px;
    background-color: #042037;
}


#contenido{
    height: 450px;
    background-color: #718EA4;
    overflow: auto;
}

#pie{
    height: 80px;
    background-color: #042037;
}

.bloqueFlotante{
    height:85%;
    background-color: yellowgreen;
    width: 31%;
    float: left;
    margin: 15px;
}

