.contenido{
    /*normal */
    height: 100px;
    width: 100px;
    background-color: red;
    border: solid black 1px;
    margin: 10px;
}

.contenido2{
    /* flotante */
    height: 100px;
    width: 100px;
    background-color: red;
    border: solid black 1px;
    margin: 10px;
    /*CUANDO PONEMOS UN ELEMENTO CON POSITION:RELATIVE; 
    Y LE DAMOS VALORES A TOP, RIGHT, LEFT... 
    ESTE SE DESPLAZA DE SU LUGAR ORIGINAL */
    position: relative;
    top: 20px;
    right: 30px;
}

.contenido3{
    /*relativo */
    height: 100px;
    width: 100px;
    background-color: red;
    border: solid black 1px;
    margin: 10px;
    /*CUANDO USAMOS POSICIONAMIENTO ABSOLUTO, CONSEGUIMOS SACAR AL ELEMENTO
    DEL FLUJO NORMAL, Y SE COLOCA EN LAS CORDENADAS SOLICITADAS CON RESPECTO
    AL BODY, LOS ELEMENTOS QUE HUBIESE DEBAJO O A SU IZQUIERDA OCUPARÁN EL
    LUGAR DE ESTE ELEMENTO*/
    position: absolute;
    top: 1px;
    left: 1px;
}

.contenido4{
    /*absoluto*/
    height: 100px;
    width: 100px;
    background-color: red;
    border: solid black 1px;
    margin: 10px;
    
}

/*Para que un elemento con pos absoluto se quede dentro de su contenedor, el
contenedor padre debe tener posicionamiento relativo o absoluto igualmente*/
#contenido{
    height: 100px;
    width: 100px;
    background-color: red;
    border: solid black 1px;
    margin: 10px;
    position: absolute;
    bottom: 1px;
    right: 1px;
}

#contenedor{
    min-height: 300px;
    width: 200px;
    border: solid black 1px;
    position: absolute;
}