/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 10 oct 2023, 11:54:05
    Author     : GSW1A9456853
*/
h1{
    color: red;
    font-size: 50px;
}
h2{
    color: greenyellow;
    font-size: 35px;
}
